<div style="background-color: #203e60; color: white; margin-top: 20px;"
		class="row">
		<div style="margin-top: 30px;" class="col-md-12">
			<div class="row">
				<div class="col-md-3">
					<h4 class="text-center">LADCP</h4>
					<div class="row">
						<div class="col-md-1">
						</div>
						<div class="col-md-11">
							<ul class="list-unstyled list-inline">
								<li>
									<a href="#"><img style="height:auto; width:70%; margin-top:5px;" src="{{ base_path ~ directory }}/images/twitter.jpg" /></a>
								</li>
								<li>
									<a href="#"><img style="height:auto; width:80%; margin-top:5px" src="{{ base_path ~ directory }}/images/google+.jpg" /></a>
								</li>
								<li>
									<a href="#"><img style="height:auto; width:70%; margin-top:5px;" src="{{ base_path ~ directory }}/images/share.jpg" /></a>
								</li>
								<li>
									<a href="#"><img style="height:auto; width:70%;margin-top:5px;" src="{{ base_path ~ directory }}/images/share2.jpg"/></a>
								</li>

							</ul>
							<p class="text-center">
                                200 N Spring Street</br>
                        		Los Angeles</br>
                    			CA 90012</br>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<h4 class="text-center">Quick Links.</h4>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-10">
							<ul>
								<li>Site Map</li>
								<li>Disclaimer</li>
								<li>Privacy Policy</li>
								<li>City Link</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<h4 class="text-center">LADCP Tweets</h4>
						<div class="row">
						<div class="col-md-3"></div>
						<div class="col-md-9">
							<ul id="tweets" class="list-unstyled">
								<li>
									<img src="{{ base_path ~ directory }}/images/twitterimg1.jpg"> Lorem ipsum dolor sit amet
								</li>
								<li>
									<img src="{{ base_path ~ directory }}/images/twitterimg3.jpg"> Consectetur adipiscing elit
								</li>
								<li>
									<img src="{{ base_path ~ directory }}/images/twitterimg3.jpg">Integer molestie lorem at massa
								</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<h4 class="text-center">Download Our App</h4>
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-11">
							<div class="row">
								<div class="col-md-6">
									<a href="https://play.google.com/store/apps/details?id=org.lacity.ladcp.planningToolkit&hl=en" target="_blank">
									<img alt="Bootstrap Image Preview" src="{{ base_path ~ directory }}/images/icon-googlePlay.png" width="80" />
									</a>
								</div>
								<div class="col-md-6"><a href="https://itunes.apple.com/TR/app/id787467145" target="_blank">
									<img alt="Bootstrap Image Preview" src="{{ base_path ~ directory }}/images/icon-appStore.png" width="80" /></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<h6 class="text-center">{{footer_message}}</h6>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</div>