<ul class="nav navbar-nav">
	<li class="dropdown dropdown-large"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown">Policy Planning <b class="caret"></b></a>

		<ul class="dropdown-menu dropdown-menu-large row">
			<li class="col-sm-3">
				<ul>
					<li class="dropdown-header">Planning Process</li>
					<li><a
						href="{{base_path}}policy-planning/planning-processes/land-use-entitlement-permit-process">Land
							Use entitlement Process</a></li>
					<li><a href="#">Public Participation Process for Community Planning</a></li>
					<li><a href="#">Entitlement Process</a></li>
					<li><a
						href="{{base_path}}policy-planning/planning-processes/california-environmental-quality-act-(CEQA)-process">California
							Environmental Quality Act</a></li>
					<li><a href="#">Community Plan Flow Chart</a></li>
					<li><a href="#">Community Design Overlay Flow Chart</a></li>
					<li><a href="#">Streetscape Plan Flow Chart</a></li>
					<li><a href="#">Historic Preservation Plan Flow Chart</a></li>
					<li><a href="#">Historic Cultural Monument Designation Flow Chart</a></li>
					<li><a href="#">Expedited Processing Section Brochure</a></li>
					<li><a href="#">General Plan Amendment Initiations Memo</a></li>
					<li><a href="#">Small Lot Policy and Design Guidelines</a></li>
					<li class="divider"></li>
				</ul>
			</li>

			<li class="col-sm-3">
				<ul>
					<li class="dropdown-header">General Plan</li>
					<li><a href="{{base_path}}policy-planning/general-plan/framework">Framework</a></li>
					<li><a
						href="{{base_path}}policy-planning/general-plan/general-plan-elements">General
							Plan Elements</a></li>
					<li><a
						href="{{base_path}}policy-planning/general-plan/community-plans">Community
							Plans</a></li>
					<li><a
						href="{{base_path}}policy-planning/general-plan/public-participation-in-the-community-planning-process">Public
							Participation Process</a></li>

					<li class="divider"></li>
				</ul>
			</li>

			<li class="col-sm-3">
				<ul>
					<li class="dropdown-header">Ordinances</li>
					<li><a href="#">Adopted Ordinances</a></li>
					<li><a href="#">Proposed Ordinances</a></li>

					<li class="divider"></li>
				</ul>
			</li>
			<li class="col-sm-3">
				<ul>
					<li class="dropdown-header"><a href="#">New Community Plans</a></li>
					<li class="divider"></li>

					<li class="dropdown-header"><a
						href="policy-planning/historic-preservation">Historic Preservation</a></li>
					<li class="divider"></li>

					<li class="dropdown-header"><a
						href="policy-planning/policy-initiatives">Policy Initiatives</a></li>
					<li class="divider"></li>
				</ul>
			</li>

		</ul></li>
	<li class="dropdown dropdown-large"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown">Project Planning <b class="caret"></b></a>

		<ul class="dropdown-menu dropdown-menu-large row">
			<li class="col-sm-3">
				<ul>
					<li class="dropdown-header">Zoning Information</li>
					<li><a href="#">Zone Information & Map Access System (ZIMAS)</a></li>
					<li><a href="#">LADBS Zoning Code Manual & Commentary</a></li>
					<li><a href="#">Planning and Zoning Code (American Legal Publishing
							Corporation)</a></li>
					<li><a href="#">Fees</a></li>
					<li><a href="#">Parking Specifications</a></li>
					<li><a href="#">Designated Building Sites (Historical Structures)</a></li>
					<li><a href="#">Summary of Zoning Regulations</a></li>
					<li><a href="#">Summary of Conditional Use Permits and Other
							Quasi-Judicial Approvals</a></li>
					<li><a href="#">Tenant Relocation</a></li>
					<li><a href="#">Use List</a></li>
					<li class="divider"></li>
				</ul>
			</li>
			<li class="col-sm-3">
				<ul>
					<li class="dropdown-header">Environmental Review</li>
					<li><a href="#">Negative Declaration Public Notices</a></li>
					<li><a href="#">Notice of Preparation & Public Scoping Meetings</a></li>
					<li><a href="#">Draft EIR</a></li>
					<li><a href="#">Final EIR</a></li>
					<li><a href="#">Sunshine Canyon Landfill</a></li>
					<li class="divider"></li>
				</ul>
			</li>
			<li class="col-sm-3">
				<ul>
					<li class="dropdown-header">Beverage & Entertainment Process</li>
					<li><a href="#">Submit a request</a></li>
					<li><a href="#">Case Filing Matrix</a></li>
					<li><a href="#">Memos Information</a></li>
					<li><a href="#">Application Package</a></li>
					<li><a href="#">Fee Estimator</a></li>
					<li class="divider"></li>
				</ul>
			</li>

			<li class="col-sm-3">
				<ul>
					<li class="dropdown-header"><a href="#">Expedited Process</a></li>
					<li class="divider"></li>

					<li class="dropdown-header"><a href="#">Project Planning Centers</a></li>
					<li class="divider"></li>

					<li class="dropdown-header"><a href="#">Land Use Permit Process</a></li>
					<li class="divider"></li>

					<li class="dropdown-header"><a href="#">Condition Compliance</a></li>
					<li class="divider"></li>
				</ul>
			</li>


		</ul></li>
	<li class="dropdown dropdown-large"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown">Our Data <b class="caret"></b></a>

		<ul class="dropdown-menu dropdown-menu-large row">
			<li class="col-sm-3">
				<ul>
					<li class="dropdown-header">Case Report</li>
					<li><a href="#">Case Filing by Certified Neighborhood Council</a></li>
					<li><a href="#">Case Filing by City Council District</a></li>
					<li><a href="#">Case Filing by Community Plan Area</a></li>
					<li><a href="#">Case Prefix and Suffix Codes</a></li>
					<li class="divider"></li>
				</ul>
			</li>

			<li class="col-sm-3">
				<ul>
					<li class="dropdown-header">Map Gallery</li>
					<li><a href="#">ArcGIS Shapefiles</a></li>
					<li><a href="#">PDF Map Gallery</a></li>
					<li><a href="#">Interactive Story Maps</a></li>

					<li class="divider"></li>
				</ul>
			</li>

			<li class="col-sm-3">
				<ul>
					<li class="dropdown-header">Demographics</li>
					<li><a href="#">Demographics Statistics Report</a></li>
					<li><a href="#">Census Information</a></li>
					<li class="divider"></li>
				</ul>
			</li>

			<li class="col-sm-3">
				<ul>
					<li class="dropdown-header"><a href="http://zimas.lacity.org/"
						target="_blank">Zoning/Property Info(ZIMAS)</a></li>
					<li class="divider"></li>
					<li><img class="img-responsive" src="http://placehold.it/200x150" /></li>
				</ul>
			</li>


		</ul></li>



	<li class="dropdown dropdown-large"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown">Forms & Publications <b class="caret"></b></a>

		<ul class="dropdown-menu dropdown-menu-large row">
			<li class="col-sm-3">
				<ul>
					<li class="dropdown-header">Master Forms</li>
					<li><a href="#">Department of City Planning Application </a></li>
					<li><a href="#">Master Land Use Instruction Sheet</a></li>
					<li class="divider"></li>
				</ul>
			</li>

			<li class="col-sm-3">
				<ul>
					<li class="dropdown-header">Frequently Use Forms</li>
					<li><a href="#">Adaptive Reuse</a></li>
					<li><a href="#">Administrative Clearance</a></li>
					<li><a href="#">Building Form Checklist</a></li>
					<li><a href="#">Checklist for Case Filing </a></li>
					<li><a href="#">More forms ...</a></li>
					<li class="divider"></li>
				</ul>
			</li>

			<li class="col-sm-3">
				<ul>
					<li class="dropdown-header">Publications</li>
					<li><a href="#">Demographics Statistics Report - October 01, 2015</a></li>
					<li><a href="#">Mobility Plan 2035</a></li>
					<li><a href="#">Plan for a Healthy Los Angeles</a></li>
					<li><a href="#">Housing Element 2013 - 2021</a></li>
					<li><a href="#">Cornfield Arroyo Seco Specific Plan</a></li>
					<li><a href="#">More publications ...</a></li>
					<li class="divider"></li>
				</ul>
			</li>

			<li class="col-sm-3">
				<ul>
					<li><img class="img-responsive" src="http://placehold.it/200x150" /></li>
					<li class="divider"></li>
				</ul>
			</li>

		</ul></li>
	<li class="dropdown dropdown-large"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown">Our Organization <b class="caret"></b></a>

		<ul class="dropdown-menu dropdown-menu-large row">
			<li class="col-sm-4">
				<ul>
					<li class="dropdown-header">About</li>
					<li><a href="{{base_path}}about/about-us">About us</a></li>
					<li><a href="{{base_path}}about/mission-statement">Mission
							Statement</a></li>
					<li><a href="about/the-long-view-planning-for-2035">The Long View:
							Planning for 2035</a></li>
					<li><a
						href="{{base_path}}about/reshaping-the-21st-century-metropolis">LADCP:
							Reshaping the 21st Century Metropolis</a></li>
					<li><a href="{{base_path}}about/organization-charts">Organization
							Charts</a></li>
					<li class="divider"></li>
				</ul>
			</li>
			<li class="col-sm-4">
				<ul>
					<li class="dropdown-header">Commissions & Hearings</li>
					<li><a href="{{base_path}}commissions-hearings/81">Central Los Angeles</a></li>
					<li><a href="{{base_path}}commissions-hearings/51">City Planning Commission</a></li>
					<li><a href="{{base_path}}commissions-hearings/61">Cultural Heritage Commission</a></li>
					<li><a href="{{base_path}}commissions-hearings/71">East Los Angeles</a></li>
					<li><a href="{{base_path}}commissions-hearings/41">Harbor</a></li>
					<li><a href="{{base_path}}commissions-hearings/31">North Valley</a></li>
					<li><a href="{{base_path}}commissions-hearings/1">South Los Angeles</a></li>
					<li><a href="{{base_path}}commissions-hearings/11">South Valley</a></li>
					<li><a href="{{base_path}}commissions-hearings/21">West Los Angeles</a></li>
					<li class="divider"></li>
				</ul>
			</li>
			<li class="col-sm-4">
				<ul>
					<li class="dropdown-header"><a href="{{base_path}}news/">News</a></li>
					<li class="divider"></li>
				</ul>
			</li>
		</ul></li>
	<li class="dropdown dropdown-large"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown">Location<b class="caret"></b></a>

		<ul class="dropdown-menu dropdown-menu-large row">
			<li class="col-sm-12 col-md-12">
				<ul>
					<li class="dropdown-header">Visit us</li>
					<li><a href="#">Main office</a></li>
					<li><a href="#">Branche Offices</a></li>
					<li class="divider"></li>
				</ul>
			</li>
		</ul></li>

	<li class="dropdown dropdown-large"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown">Contact<b class="caret"></b></a>

		<ul class="dropdown-menu dropdown-menu-large row">
			<li class="col-sm-12 col-md-12">
				<ul>
					<li class="dropdown-header">Customer Serices</li>
					<li><a href="#">Contact us</a></li>
					<li><a href="#">Staff Directory</a></li>
					<li><a href="#">Department List</a></li>
					<li><a href="#">Feedback Form</a></li>
					<li class="divider"></li>
				</ul>
			</li>
		</ul></li>
</ul>